footer.footer
  small.footer-copyright Copyright &copy; #{config.author} All Rights Reserved.
  address.footer-issue
    a(href="https://github.com/artprojectteam/csv_converter/issues", target="_blank") 要望、不具合連絡先