@charset "UTF-8"
@require "_assets/_ini.styl"

@import "_assets/pages/home/_header.styl"

.container
  padding: 0 $_space


@import "_assets/pages/home/_file_drop.styl"
@import "_assets/pages/home/_progress.styl"