@require "_variable.styl"

font-size-calc($target, $parent = $_px_def, $unit = unquote('em'))
  if $unit == '%'
    return unit((round(($target / $parent) * 100, 3)), $unit)
  else
    return unit((round(($target / $parent), 3)), $unit)