.convert
  button.convert-json(type="button", data-convert="json", ng-click="$parent.doConvert($event, 'json')") JSON Convert
  button.convert-serialize(type="button", data-convert="serialize", ng-click="$parent.doConvert($event, 'serialize')") Serialize Convert
  button.convert-php(type="button", data-convert="php", ng-click="$parent.doConvert($event, 'php')") PHP File Convert