.footer
  @extend $clear-fix
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: $_home_footer
  background: #5c5c5c
  color: #ffffff
  text-align: left
  box-sizing: border-box
  padding: 0 $_space

  &-copyright
    text-align: left
    display: inline-block
    line-height: $_home_footer

  &-issue
    float: right
    text-align: right
    display: inline-block
    line-height: $_home_footer
    font-size: font-size-calc(11)
    a
      color: #ffffff
      text-decoration: none
      position: relative
      &:after
        position: absolute
        content: ""
        width: 100%
        display: inline-block
        height: 1px
        background: #ffffff
        left: 0
        bottom: -3px
        transform: scale(0)
        transition: transform $ease
      &:hover:after
        transform: scale(1)
