.footer
  height: $_home_footer
  background: #5c5c5c
  color: #ffffff
  text-align: right
  box-sizing: border-box
  margin-top: $_space
  padding: 0 $_space

  &-copyright
    display: inline-block
    line-height: $_home_footer

